---
title: Home
layout: default
---

<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0"><!-- Virtual Jane --></h1>
      <!-- <h2 class="masthead-subheading mb-0">Conservation Education in Virtual Reality</h2> -->
      <img src="assets/img/logo.png">
      <div>
        <a href="#join" class="btn btn-primary btn-xl rounded-pill mt-4">Join Us</a>
        <a href="/donate.html" class="btn btn-primary btn-xl rounded-pill mt-4">Donate</a>
      </div>
      <div id="arrow-down"><a href="#mission"><i class="fas fa-chevron-down"></i></a></div>
    </div>
  </div>
  <!-- <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div> -->
</header>

<section id="mission">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/img/concept1.jpeg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Mission</h2>
          <p>Virtual Jane will inspire the next generation to assemble under a shared passion for environmental advocacy through the experiential eyes of one of the most beloved scientists and animal lovers, <b>Jane Goodall</b>.</p>
          <p> Learning directly from Dr. Goodall’s impact-driven, civic, and scientific achievements, young adults will be engaged and catalyzed to become <b>compassionate global activists</b> and humanitarians, find their own passions, and understand that bettering the earth is obtainable, sustainable, and indispensable.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <img class="img-fluid" src="assets/img/flo-flint.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <h2 class="display-4">What We Do</h2>
          <p>The Virtual Jane initiative is a front-end focused, immersive, educational <b>virtual and augmented reality</b> application designed to showcase Jane Goodall's life and work to raise conservation science awareness and empower youth science and civil engagement.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="join">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/img/leaf.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Join Us</h2>
          <p>Come build a virtual reality app for a great cause with the GW Innovation Center! We're expanding our team this semester to include a few new technical and non-technical roles.</p>
        </div>
      </div>
    </div>
    {% include tiles.html %}
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
<!--       <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/img/jane-goodall.jpg" alt="">
        </div>
      </div> -->
      <div class="col-lg-12 order-lg-2">
        <div class="p-5">
          <h2 style="text-align: center" class="display-4">Team</h2>
        </div>
      </div>
    </div>
    {% include team.html %}
  </div>
</section>
